body {
    padding: 0;
    margin: 0;
    font-family: 'microsoft yahei', 'Helvetica', simhei, simsun, sans-serif;
    background-color: #F7F7F7;
}

/* 布局容器 */
figure {
    width: 100%;
    position: relative;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
/* 广告栏 */
.jd_ad {
}
.jd_ad .jd_ad_box{
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
}
.jd_ad .hidden {
    background: rgba(0,0,0,0.6);
}
.jd_ad .jd_ad_box .mask {
    position: relative;
    margin-top: 40%;
}
.jd_ad  img {
    width: 100%;
}
.jd_ad #btn_close {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 9999999999999999999999;
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: red;
    display: block;
    text-align: center;
    line-height: 30px;
}
/* 弹出层动画 */
.bounceInDown{
    animation: bounceInDown 1s;
    -webkit-animation: bounceInDown 1s;
}
/*bounceInDown*/
@keyframes bounceInDown {
     0%{
         opacity: 0;
         -webkit-transform: translateY(-3000px);
         transform: translateY(-3000px);
     }
     60%{
         opacity: 1;
         -webkit-transform: translateY(25px);
         transform: translateY(25px);
     }
     75%{
         -webkit-transform: translateY(-10px);
         transform: translateY(-10px);
     }
     90%{
         -webkit-transform: translateY(5px);
         transform: translateY(5px);
     }
     100%{
         opacity: 1;
         -webkit-transform:none;
         transform:none;
     }
 }
@-webkit-keyframes bounceInDown {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-3000px);
        transform: translateY(-3000px);
    }
    60%{
        opacity: 1;
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
    75%{
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    90%{
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    100%{
        opacity: 1;
        -webkit-transform:none;
        transform:none;
    }
}

figcaption {
    font: bold 2em "microsoft yahei";
    text-align: center;
    color: #808080;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}
figcaption:first-of-type {
    text-shadow: 1px 1px 0px #FFF, -1px -1px 0px #000;
}
figcaption:last-of-type {
    text-shadow: -1px -1px 0px #FFF, 1px 1px 0px #000;
}
.player {
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    background: #000 url(../images/loading.gif) center/300px no-repeat;
    position: relative;
}
video {
    width: 100%;
    margin: 0 auto;
}
.controls {
    width: 100%;
    height: 40px;
    background-color: rgb(16, 16, 16);
    border-radius: 4px;
    position: absolute;
    left: 0px;
    bottom: 5px;
    z-index: 99;
    opacity: 1;
}
.player:hover .controls {
    opacity: 1;
}

/*播放/暂停*/
.controls .switch {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #FFF;
    position: absolute;
    top: 11px;
    left: 11px;
}

/*全屏按钮*/
.controls .expand {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #FFF;
    position: absolute;
    right: 11px;
    top: 11px;
}

/*进度条*/
.progress {
    width: 45%;
    height: 10px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #555;
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 45px;
}

/*下载进度*/
.progress .loaded {
    width: 60%;
    height: 100%;
    background-color: #999;
}

/*播放进度*/
.progress .line {
    width: 0;
    height: 100%;
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
}

/**/
.progress .bar {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

/*时间*/
.timer {
    height: 20px;
    line-height: 20px;
    position: absolute;
    left: 225px;
    top: 11px;
    color: #FFF;
    font-size: 12px;
}

/* 音频播放器 */
audio {
    width: 100%;
    padding-left: 50%
    height: 30px;
    color: #d8505c;
    font-family: "微软雅黑";
}

/* 瀑布流 */
#container {
    position: relative;
    margin: 35px auto;
    width:100%;
    /* background-color: #ccc; */

}
.box {
    width: 49%;
    border-bottom: 5px solid #ccc;
    float: left;
}
.box2 {
    margin-left: 4px;
}
#a_link {
    display: block;
    color: #666;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}
#a_link span {
    text-align: right;
    font-size: 14px;
    margin-left: 10px;
    color: deeppink;
}
.box  img {
    width: 100%;
}
.fa-music {
    color: red;
}
